
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="CheckActive" id="Home+Form">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Form validations
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                        <a class="fa fa-times" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class=" form">
                        <form class="cmxform form-horizontal " id="commentForm" method="get" action="">
                            <div class="form-group ">
                                <label for="cname" class="control-label col-lg-3">Name</label>
                                <div class="col-lg-6">
                                    <input class=" form-control" id="cname" name="name" minlength="2" type="text" required />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="cemail" class="control-label col-lg-3">E-Mail</label>
                                <div class="col-lg-6">
                                    <input class="form-control " id="cemail" type="email" name="email" required />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="curl" class="control-label col-lg-3">URL</label>
                                <div class="col-lg-6">
                                    <input class="form-control " id="curl" type="url" name="url" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="ccomment" class="control-label col-lg-3">Your Comment</label>
                                <div class="col-lg-6">
                                    <textarea class="form-control " id="ccomment" name="comment" required></textarea>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="agree" class="control-label col-lg-3 col-sm-3">Agree to Our Policy</label>
                                <div class="col-lg-6 col-sm-9">
                                    <input type="checkbox" style="width: 20px" class="checkbox form-control" id="agree" name="agree" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-6">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                    <button class="btn btn-default" type="button">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

