<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Transparency</title>

    <!--Core CSS -->
    <link href="~/Content/bs3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-reset.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style-responsive.css" rel="stylesheet" />

    <link href="~/js/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" />

    <link href="~/js/jvector-map/jquery-jvectormap-1.2.2.css" rel="stylesheet" />

    <link href="~/Content/css/clndr.css" rel="stylesheet" />

    <!--clock css-->
    <link href="~/js/css3clock/css/style.css" rel="stylesheet" />

    <!--Morris Chart CSS -->
    <link href="~/js/morris-chart/morris.css" rel="stylesheet" />

    <!--Datatable CSS-->
    <link href="~/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="~/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/data-tables/DT_bootstrap.css" />
    <link href="~/Content/css/table-responsive.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="~/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">
                <a href="/Home/Index" class="logo">
                    <img src="~/Content/images/logo.png" alt="">
                </a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <!--logo end-->
            <div class="nav notify-row" style="float:right;" id="top_menu">
                <!--  notification start -->
                @Html.Partial("P_Notification")
                <!--  notification end -->
            </div>
            <div class="top-nav clearfix">
                <!--search & user info start-->
                @Html.Partial("P_UserInfo")
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                @Html.Partial("P_Menu")
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>
        <!--main content end-->
    </section>

    <!--Core js-->
    <script src="~/js/jquery.js"></script>

    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Content/bs3/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
    <script class="include" type="text/javascript" src="~/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
    <script src="~/js/jquery.nicescroll.js"></script>

    <script src="~/js/skycons/skycons.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script src="~/js/calendar/clndr.js"></script>
    <script src="~/js/calendar/moment-2.2.1.js"></script>
    <script src="~/js/evnt.calendar.init.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

    <script src="~/js/jvector-map/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/js/jvector-map/jquery-jvectormap-us-lcc-en.js"></script>
    <script src="~/js/gauge/gauge.js"></script>

    <!--clock init-->
    <script src="~/js/css3clock/js/css3clock.js"></script>

    <!--Easy Pie Chart-->
    <script src="~/js/easypiechart/jquery.easypiechart.js"></script>

    <!--Sparkline Chart-->
    <script src="~/js/sparkline/jquery.sparkline.js"></script>

    <!--Morris Chart-->
    <script src="~/js/morris-chart/morris.js"></script>
    <script src="~/js/morris-chart/raphael-min.js"></script>

    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/js/data-tables/DT_bootstrap.js"></script>

    <script src="~/js/dashboard.js"></script>
    <script src="~/js/jquery.customSelect.min.js"></script>
    <script src="~/js/notie.js"></script>
    <script src="~/js/jquery.simpleWeather.js"></script>
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>

    <!--common script init for all pages-->
    <script src="~/js/scripts.js"></script>
    <!--script for this page-->

</body>
</html>
