@*@if (Session["AppCount"] != null && Convert.ToInt32(Session["AppCount"]) > 0)
{
    <ul class="nav top-menu">
        <li id="header_widget_list" class="dropdown">
            <img src="~/Content/images/more-apps.png" data-toggle="modal" data-target="#myWidgetModal" style="width:25px; cursor:pointer;" />
        </li>
    </ul>
}*@