.fdanger {
    color: red !important;
}

.mdlline {
    text-align: center !important;
    vertical-align: middle !important;
}

.rborder {
    border-right: solid 2px #777 !important;
}

.lborder {
    border-left: solid 2px #777 !important;
}

.fullborder {
    border: solid 2px #777 !important;
}

.theadtr {
    border-top: 2px solid #777 !important;
    background-color: #efefef !important;
    font-weight: bold !important;
}

.align-right {
    text-align: right !important;
}

.targetPRTColor {
    background: #fdc9e9 !important;
}